 <!-- form handling -->
 <form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="Question" class="text-light">Question</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="Question" value="" placeholder="Question">
        </div>
        <div class="form-group">
            <label for="Option1" class="text-light">Option 1</label>
            <input type="text" name="Option1" value="" placeholder="Option 1">
        </div>
        <div class="form-group">
            <label for="Option2" class="text-light">Option 2</label>
            <input type="text" name="Option2" value="" placeholder="Option 2">
        </div>
        <div class="form-group">
            <label for="Option3" class="text-light">Option 3</label>
            <input type="text" name="Option3" value="" placeholder="Option 3">
        </div>
        <div class="form-group">
            <label for="Option4" class="text-light">Option 4</label>
            <input type="text" name="Option4" value="" placeholder="Option 4">
        </div>
        <div class="form-group">
            <label for="IsCorrect" class="text-light">IsCorrect</label>
            <input type="text" name="IsCorrect" value="" placeholder="Correct Option">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>